.square {
  width: 70px;
  border: 1px solid gray;
  height: 70px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(6, 70px);
  margin-top: 50px;
  justify-content: center;
  grid-gap: 5px;
}
