:root {
  --wrong-place: #b59f3b;
  --correct: #538d4e;
  --incorrect: #3a3a3c;
}

.square {
  width: 70px;
  border: 1px solid var(--incorrect);
  height: 70px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(6, 70px);
  margin-top: 50px;
  justify-content: center;
  grid-gap: 5px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(7, 60px);
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}

.key {
  border: 1px solid var(--incorrect);
  background-color: var(--incorrect);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.2);
}
